.advantages {
    max-width: 1110px;
    margin: 0 auto;
    padding: 80px 0;
    text-align: center;

    @media (max-width: $tablet) {
        padding: 80px 50px;
    }

    @media (max-width: $mobile) {               
        padding: 50px 18px;
    }

    h2 {
        @include h2;
        color: $main-color;
        max-width: 293px;
        margin: 0 auto 50px;
    }
    &-content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        align-items: center;
        justify-content: center;

        .card {
            /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px; /* 5px rounded corners */
            max-width: 340px;
            height: 324px;
    
            /* Add some padding inside the card container */
            &__advantages {
                padding: 40px 45px;
            }
            &__advantages-line {
                padding-bottom: 30px;
            }
            &__advantages-title {
                color: $dark-color;
                font-weight: 700;
                font-size: 18px;
                line-height: 25px;
                margin-bottom: 15px;
            }
            &__advantages-text {
                color: $gray-middle;
                line-height: 24px;
                font-weight: 400;
                font-size: 16px;
            }
        }
        
        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
    }
}
