.header-container {
    @include container;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    a { 
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
        color: $main-color;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
    } 

    @media (max-width: $tablet) {
        .header-group {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr 1fr;
            grid-auto-rows: repeat(2, 1fr);
            gap: 5px;
            justify-items: center;
            align-items: start;
        }
        .vertical-line {
            display: none;
        }
    }

    @media (max-width: $mobile) {  
        .header-group {
            display: grid;
            height: 100%;
            grid-template-columns: 1fr;
            grid-auto-rows: repeat(3, 1fr);
            gap: 5px;
            justify-items: center;
            align-items: start;
        }
        .vertical-line {
            display: none;
        }
    }

}
.header-logo {
    max-width: 323px;
    max-height: 68px;

    a {
        color: $main-color;
        font-weight: 700;
        font-size: 46px;
        line-height: 60px;
    }
}
.header-group {
    max-width: 655px;
    display: flex;
    text-align: center;
    margin: 23px 0;
    gap: 50px;

    span {
        color: $gray-middle;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
    }
    &__social {
        display: flex;
        gap: 30px;
        max-width: 98px;

    }
    &__call, &__request, &__social {
        margin: auto 1px;
    }
    &__call {
        max-width: 141px;
    }
    &__request {
        max-width: 163px;
    }
}


.nav {
    margin: 0 auto;
    background-color: $main-color;

    &-menu {
        @include container;
        display: flex;
        flex-wrap: wrap;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
    }
    &-link { 
        display: block;
        padding: 24px 0;
        text-decoration: none; /* Отменяем подчеркивание у ссылки */
        color: white;
        transition: color .2s ease;

        &:hover {
            color: $yellow-color;
        }
    } 
}
