/* colors */
$dark-color: #000000;
$gray-pale: #F2F2F2;
$gray-middle: #4D4D4D;
$main-color: #094882;
$yellow-color: #FFE70D;
$white-shadowed: #EEEEEE;

/* animations */
$base-transition: .2s ease;

/* breakpoints */
$tablet: 1200px;
$mobile-large: 992px;
$mobile: 768px;
$mobile-small: 576px; 